@model IEnumerable<ARM.Models.Renter>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Добавление информации о квартиросъемщике", "NewPerson", new { @class = "label label-primary" })
@Html.ActionLink("Изменить тарифы", "Index", "Price", new { @class = "label label-primary" })                    


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Адрес</th>
            <th>Льготы</th>
            <th>Задолжник</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {


            <tr>
                <td>@item.Id</td>
                <td>@item.F_name</td>
                <td>@item.Name</td>
                <td>@item.L_name</td>
                <td>@item.Adres</td>
                <td>@item.Privileges</td>
                <td>@item.Debtor</td>
            </tr>
    }
    </tbody>  
    </table>
 




</body>

