@model IEnumerable<ARM.Models.Extract>
@{
    ViewBag.Title = "Index";
}

<h2>Жировка для жильца</h2>
@Html.ActionLink("Назад", "Index", "Renter", new { @class = "label label-primary" })
<a href="~/Extract/Change">Изменить данные</a>

@using (Html.BeginForm())
{
    <h3>Данные</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Услуга</th>
                <th>Цена</th>
                <th>Id квартиросъемщика</th>
                <th>Со льготами</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Servise</td>
                    <td>@item.price</td>
                    <td>@item.id_renter</td>
                    <td>@item.With_privilege</td>
                    <td>@item.summ</td>
                    <td>@Html.ActionLink("Редактировать", "Edit", "Extract", new { id = item.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>


}